:root {
    --slate900-color: #0f172a;
    --slate800-color: #1e293b;
    --slate500-color: #64748b;
    --slate400-color: #94a3b8;
    --slate300-color: #cbd5e1;
    --slate200-color: #e2e8f0;
    --slate100-color: #f1f5f9;
    --slate50-color: #f8fafc;
    --violet600-color: #7c3aed;
    --violet100-color: #ede9fe;
    --rose500-color: #f43f5e;
    --lime300-color: #bef264;
    --amber800-color: #92400e;
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --font-weight-regular: 400;
    --font-weight-medium: 700;
    --font-weight-bold: 800;
}

/* reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare' !important;
}

:root {
    --txt-c: #e1dfdd;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}
li {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    color: inherit;
    text-decoration: none !important;
    cursor: pointer;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    background: var(--slate50-color);
}
/* //reset.css */

/* 공통 컨테이너 */
.container {
    max-width: 1248px;
    width: 100%;
    padding: 0 24px;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
}
.detail_container {
    max-width: 1230px;
    width: 100%;
    height: 100vh;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    background: #fff;
    padding: 15px 100px;
}

/* 헤더 */
.header {
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid var(--slate200-color);
}
.header .logo {
    display: block;
    max-width: 151px;
    max-height: 40px;
}
.header .logo img {
    width: 100%;
    height: 100%;
    display: block;
}

/* 메인 검색바 */
.main {
    padding-bottom: 300px;
}
.main .search {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.main .search .search_bar {
    display: block;
    width: 90%;
    max-width: 1000px;
}
.main .search .search_bar input {
    display: block;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 25px;
    width: 100%;
    border: 1px solid #333;
    box-shadow: 5px 6px 0px #333;
    outline: none;
    background: var(--slate100-color);
}

.main .search button {
    display: block;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 25px;
    width: 13.5%;
    border: 1px solid #333;
    box-shadow: 5px 6px 0px #333;
    outline: none;
    background: var(--slate200-color);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
}
.main .search button:hover {
    transition: 0.3s ease all;
    background: var(--violet600-color);
    color: #fff;
}

/* 메인 todo, done */
.main .todo_done {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
}
.main .todo_done .td_logo {
    max-width: 100px;
    display: block;
}
.main .todo_done .empty_img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 64px;
}
.main .todo_done .empty_img p {
    font-size: var(--font-size-small);
    color: var(--slate400-color);
    font-weight: var(--font-weight-medium);
}
.main .todo_done .td_logo img {
    width: 100%;
    display: block;
}
.main .todo_done .todo {
    width: 49%;
}
.main .todo_done .done {
    width: 49%;
}

/* 체크리스트 */
.check_list {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: normal;
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 25px;
    width: 95%;
    border: 2px solid #333;
    gap: 16px;
}
.check_list.completeTrue {
    background: var(--violet100-color);
    text-decoration: line-through;
}
.check_list input {
    display: none;
}
.check_list input + label em {
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
}
.check_list input + label em img {
    width: 100%;
    height: 100%;
}
.check_list a {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
}

/* 디테일페이지 체크리스트 */
.checklist_detail {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    width: 100%;
    border: 2px solid #333;
    gap: 16px;
}
.checklist_detail .ckd_ck {
    width: auto;
    max-width: 50%;
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.checklist_detail .ckd_input {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.checklist_detail.completeTrue {
    background: var(--violet100-color);
}

.checklist_detail input[type='checkbox'] {
    display: none;
}
.checklist_detail input[type='checkbox'] + label {
    max-width: 32px;
    max-height: 32px;
    cursor: pointer;
}
.checklist_detail input[type='checkbox'] + label em img {
    display: block;
    max-width: 32px;
    max-height: 32px;
}
.checklist_detail input[type='text'] {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
    text-decoration: underline;
    border: none;
    outline: none;
    width: 100%;
}
.checklist_detail.completeTrue input[type='text'] {
    background: var(--violet100-color);
}

/* 디테일페이지 컨텐츠 */

.detail_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
}
.detail_content .img_upload {
    border-radius: 20px;
    border: 2px dotted var(--slate300-color);
    width: 38%;
    height: 311px;
    position: relative;
    overflow: hidden;
}
.detail_content .img_upload .thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--slate50-color);
}
.detail_content .img_upload input {
    display: none;
}
.detail_content .img_upload input + label {
    width: 64px;
    height: 64px;
    display: block;
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    border: 2px solid #333;
}
.detail_content .img_upload input + label em .pen_circle img {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.detail_content .img_upload input + label em {
    display: block;
    width: 100%;
    height: 100%;
}
.detail_content .img_upload input + label em img {
    display: block;
    width: 100%;
    height: 100%;
}
.detail_content .memo_box {
    width: 60%;
    height: 311px;
    background-image: url('/memo_bg.png');
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}
.detail_content .memo_box .title {
    display: block;
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    color: var(--amber800-color);
}
.detail_content .memo_box textarea {
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    resize: none;
    margin-top: 15px;
    height: 250px;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    padding: 15px;
}
.detail_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}
.detail_btn button {
    display: block;
    padding: 17px 15px 15px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 4px 4px 0px #333;
    gap: 5px;
    width: 18%;
    font-weight: var(--font-size-medium);
    font-size: var(--font-size-small);
    cursor: pointer;
}
.detail_btn button img {
    width: 16px;
    height: 16px;
    display: block;
}
.detail_btn .edit_btn {
    background: var(--slate200-color);
}
.detail_btn .edit_btn:hover {
    transition: 0.3s ease all;
    background: var(--lime300-color);
}
.detail_btn .delete_btn {
    background: var(--rose500-color);
    color: #fff;
}

.pc_logo {
    display: block;
}
.mo_logo {
    display: none;
}

/* 태블릿 사이즈 반응형  */
@media (max-width: 770px) {
    .main .search .search_bar input {
        width: 93%;
    }
    .main .search button {
        width: 20%;
    }
    .main .todo_done {
        display: block;
        width: 100%;
    }
    .main .todo_done .todo {
        width: 100%;
    }
    .main .todo_done .done {
        width: 100%;
        margin-top: 50px;
    }

    .detail_container {
        padding: 15px 24px 150px 24px;
        height: auto;
    }
    .detail_content {
        display: block;
    }
    .detail_content .img_upload {
        width: 100%;
    }
    .detail_content .memo_box {
        width: 100%;
        margin-top: 24px;
    }
    .detail_btn {
        justify-content: center;
    }
    .detail_btn button {
        width: 25%;
    }
}

/* 모바일 사이즈 반응형  */
@media (max-width: 380px) {
    .header .logo {
        max-width: 71px;
        max-height: 40px;
    }
    .mo_logo {
        display: block;
    }
    .pc_logo {
        display: none;
    }
    .main .search button {
        font-size: 36px;
        padding: 3px;
        border-radius: 25px;
        box-shadow: 3px 3px 0px #333;
        font-weight: var(--font-weight-regular);
    }
    .main .search button span {
        display: none;
    }
    .main .search .search_bar input {
        box-shadow: 3px 3px 0px #333;
    }
    .container {
        padding: 0 15px;
    }
    .detail_btn button {
        width: 48%;
    }
}
